<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Forgot your password?</h2>

          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>

            <div class="form-group mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, class: "form-control custom-btn", required: true, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="text-center">
              <%= f.button :submit, "Send me reset password instructions", class: "btn btn  custom-btn rounded-pill px-5" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "devise/shared/links" %>
