<h1>Dashboard</h1>

<h2>Rented Motorcycles</h2>
<% if @rented_motorcycles.any? %>
  <% @rented_motorcycles.each do |rented_motorcycle| %>
    <p>
      <strong>Motorcycle:</strong> <%= rented_motorcycle.motorcycle.make %> <%= rented_motorcycle.motorcycle.model %><br>
      <strong>Address:</strong> <%= rented_motorcycle.motorcycle.user.address %><br>
      <strong>Start Date:</strong> <%= rented_motorcycle.start_date %><br>
      <strong>End Date:</strong> <%= rented_motorcycle.end_date %>
    </p>
  <% end %>
<% else %>
  <p>No rented motorcycles.</p>
<% end %>

<h2>Listed Motorcycles</h2>
<% if @listed_motorcycles.any? %>
  <% @listed_motorcycles.each do |motorcycle| %>
    <p>
      <strong>Motorcycle:</strong> <%= motorcycle.make %> <%= motorcycle.model %><br>
      <strong>Status:</strong> <% motorcycle.rent_motorcycles.each do |rental| %>
      <p><%= rental.status %></p>
      <% end %>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Actions
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><%= link_to 'Edit', edit_motorcycle_path(motorcycle), class: 'dropdown-item' %></li>
          <li><%= link_to 'Delete', motorcycle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %></li>
        </ul>
      </div>
    </p>

    <h3>Pending Requests</h3>
    <% motorcycle.rent_motorcycles.where(status: 'pending').each do |request| %>
      <p>
        <strong>Requester:</strong> <%= request.user.name %><br>
        <strong>Requested Dates:</strong> <%= request.start_date %> to <%= request.end_date %><br>
        <%= link_to 'Approve', approve_request_dashboard_path(request), method: :patch, class: 'btn btn-success' %>
        <%= link_to 'Reject', reject_request_dashboard_path(request), method: :patch, class: 'btn btn-danger' %>
        <%= link_to 'Decide Later', decide_later_request_dashboard_path(request), method: :patch, class: 'btn btn-warning' %>
      </p>
    <% end %>
  <% end %>
<% else %>
  <p>No listed motorcycles.</p>
<% end %>
