<h1 class="text-center my-4">Edit your Motorcycle</h1>

<div class="d-flex justify-content-between">
  <%= link_to 'Back to Motorcycles', motorcycles_path, class: "btn btn rounded-pill ms-4 custom-btn"%>
  <%= link_to 'Dashboard', dashboard_path, class: 'btn btn rounded-pill me-4 custom-btn' %>
</div>
<div class="container mt-5">
  <%= simple_form_for @motorcycle, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :description, input_html: { class: 'form-control', placeholder: 'Enter description' }, label_html: { class: 'form-label' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :typeM, input_html: { class: 'form-control', placeholder: 'Enter type' }, label_html: { class: 'form-label' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :make, input_html: { class: 'form-control', placeholder: 'Enter make' }, label_html: { class: 'form-label' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :model, input_html: { class: 'form-control', placeholder: 'Enter model' }, label_html: { class: 'form-label' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :year, input_html: { class: 'form-control', placeholder: 'Enter year' }, label_html: { class: 'form-label' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :price, input_html: { class: 'form-control', placeholder: 'Enter price' }, label_html: { class: 'form-label' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.input :photo, input_html: { class: 'form-control', placeholder: 'Enter photo URL' }, label_html: { class: 'form-label' } %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12 text-center">
        <%= f.button :submit, "Save Motorcycle",class: 'btn btn rounded-pill custom-btn' %>
      </div>
    </div>
  <% end %>
</div>
