<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "banner2.0.png" %>);">
  <div class="container">
    <h1>Making your trips more radical!</h1>
    <p>Rent the ride of your dreams and hit the road with <strong>VroomVroom!<strong></p>
  </div>
</div>

  <div class="row justify-content-center">
    <div class="col-sm-8 my-4">
      <%= form_with url: motorcycles_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control rounded-pill", placeholder: "Search by Make or Model" %>
        <%= button_tag type: "submit", class: "btn btn-primary rounded-pill ml-2" do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>

<hr>
<div class="container mt-5 vh-100">
<div class="cards">
  <% @motorcycles.each do |motorcycle| %>
  <div>
    <div class="card custom-card">
      <%= link_to motorcycle_path(motorcycle) do %>
        <div class="card-category card-img-top img-fit" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path motorcycle.photo.key, height: 300, crop: :fill %>'); background-size: cover; background-position: center;">
        </div>
      <% end %>
      <% if current_user && current_user.id == motorcycle.user_id %>
          <div class="icon-container">
            <%= link_to edit_motorcycle_path(motorcycle), class: "icon-link" do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to motorcycle_path(motorcycle), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "icon-link" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class="card p-3 text-right h-50 mt-2 border-0">
      <div class="d-flex justify-content-between">
        <blockquote class="blockquote mb-0 flex-grow-1">
        <ul class="list-unstyled font-roboto">
          <li style="color: black;"><%= motorcycle.description %></li>
          <br>
          <li><%= motorcycle.make %></li>
          <br>
          <li><%= motorcycle.user.address %></li>
        </ul>
        </blockquote>
        <footer class="align-self-end">
          <small class="text-muted" style="color: black; font-weight: bold;">
            <%= "$#{motorcycle.price}/per day" %>
          </small>
        </footer>
      </div>
    </div>
  </div>
  <% end %>
</div>

</div>
