<div class="container">
  <h1>Create a new Motorcycle</h1>
  <%= simple_form_for @motorcycle do |f| %>
    <%= f.input :make %>
    <%= f.input :model %>
    <%= f.input :typeM %>
    <%= f.input :year %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary rounded-pill" %>
  <% end %>
</div>
