<h2><%= cl_image_tag(@motorcycle.photo.key) if @motorcycle.photo.key.present? %></h2>
<p><%= @motorcycle.description %></p>
<p>Type: <%= @motorcycle.typeM %></p>
<p>Make: <%= @motorcycle.make %></p>
<p>Model: <%= @motorcycle.model %></p>
<p>Year: <%= @motorcycle.year %></p>

<%= link_to 'Back to Motorcycles', motorcycles_path %>
