<h2><%= @motorcycle.image.rul %></h2>
<p><%= @motorcycle.description %></p>
<p><%= @motorcycle.type %></p>
<p><%= @motorcycle.make %></p>
<p><%= @motorcycle.model %></p>
<p><%= @motorcycle.year %></p>
